appdirs==1.4.4
asgiref==3.3.4
backcall==0.2.0
beautifulsoup4==4.9.3
boto==2.49.0
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
cssselect==1.1.0
decorator==5.0.9
dj-database-url==0.5.0
Django==3.2.3
django-enumfields==2.1.1
django-storages==1.11.1
fake-useragent==0.1.11
future==0.18.2
geographiclib==1.50
geopy==2.1.0
gunicorn==20.1.0
idna==2.10
ipython==7.24.0
ipython-genutils==0.2.0
jedi==0.18.0
joblib==1.0.1
line-bot-sdk==1.19.0
lxml==4.6.3
matplotlib-inline==0.1.2
parse==1.19.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.18
psycopg2==2.8.6
ptyprocess==0.7.0
pyee==8.1.0
Pygments==2.9.0
pyppeteer==0.2.5
pyquery==1.4.3
python-Levenshtein==0.12.2
pytz==2021.1
regex==2021.4.4
requests==2.25.1
requests-html==0.10.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
tqdm==4.61.0
traitlets==5.0.5
urllib3==1.26.4
w3lib==1.22.0
wcwidth==0.2.5
websockets==8.1
whitenoise==5.2.0
