{% extends "base.html" %}
{% block title %}
<style>
    .page_title {
        font-family: 'cwTeXYen', sans-serif;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 3rem;
        text-align: center;
    }
</style>
<div class="page_title">
    商品列表
</div>
<div class="page_title" style="color: grey; font-size: 1.5rem;">
    刷新頁面可獲得新的推薦喔！（建議使用電腦瀏覽此頁）
</div>

{% endblock %}
{% block content %}
<div class="ui grid">
    {% for p in item_list %}
    <div class="four wide computer eight wide mobile column">
        <div class="ui centered card">
            <div class="image">
                <img style="height: 350px;" src={{ p.photo }}>
            </div>
            <div style="height: 200px;" class="content">
                <a class="header">{{ p.name }}</a>
                <div class="meta">
                    <span class="date">{{ p.date }}</span>
                </div>
                <div class="description">{{ p.description }}
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="dollar sign icon"></i>
                    NT. {{ p.price }}
                </a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}