{% extends "base.html" %}
{% block title %}
<div class="page_title">
    <div style="font-size: 5rem; margin: 3rem;">
        商品列表
    </div>
    <div style="color: grey; font-size: 2rem; margin-bottom: 3rem;">
        刷新頁面可獲得新的推薦喔！
    </div>
</div>
{% endblock %}
{% block content %}
<style>
    .page_title {
        font-weight: bold;
        text-align: center;
    }

    .ui.centered.card {
        width: auto;
    }

    .ui.card>.image>img {
        object-fit: cover;
        height: 350px;
        width: 100%;
    }

    .ui.card>.content>.header:not(.ui) {
        font-size: 2rem;
    }

    .ui.card>.content>.meta>.date {
        display: block;
        font-size: 1.7rem;
        margin: 1rem auto;
    }

    .ui.card>.content>.description:not(.ui) {
        font-size: 1.9rem;
        line-height: 2.1rem;
    }
</style>
<div class="ui grid">
    {% for p in item_list %}
    <div class="four wide computer eight wide mobile column">
        <div class="ui centered card">
            <div class="image">
                <img src={{ p.photo }}>
            </div>
            <div class="content" style="height: 310px;">
                <div class="header">{{ p.name }}</div>
                <div class="meta">
                    <span class="date">{{ p.date }}</span>
                </div>
                <div class="description">{{ p.description }}</div>
            </div>
            <div class="extra content" style="font-size: 1.7rem;">
                <i class="dollar sign icon"></i>
                NT. {{ p.price }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}