{% extends "product.html" %}
{% block title %}
<div class="page_title">
    我想要出租
</div>
{% endblock %}
{% block custom %}
<style>
    .page_title {
        color: #75bde7;
    }

    .ui.form .field input,
    .ui.form .field textarea {
        border-color: #75bde7;
    }
</style>
<div class="field">
    <label>商品描述</label>
    <div class="ui left large icon input">
        <i class="pencil alternate large icon"></i>
        <textarea placeholder="{{ form.description.field.help_text }}" rows="3"
            name="{{ form.description.name }}"></textarea>
    </div>
</div>
<div class="field">
    <label>商品相片</label>
    <div class="ui left large icon input">
        <i class="file image large icon"></i>
        <input type="{{ form.photo.field.widget.input_type  }}" name="{{ form.photo.name }}">
    </div>
</div>
<div class="field">
    <label>價錢</label>
    <div class="ui left large icon input">
        <i class="dollar sign large icon"></i>
        <input placeholder="{{ form.price.field.help_text }}" type="{{ form.price.field.widget.input_type  }}"
            name="{{ form.price.name }}">
    </div>
</div>
<div class="field">
    <label>Line ID</label>
    <div class="ui left large icon input">
        <i class="comment alternate large icon"></i>
        <input placeholder="{{ form.line_id.field.help_text }}" type="{{ form.line_id.field.widget.input_type  }}"
            name="{{ form.line_id.name }}">
    </div>
</div>
<div class="field">
    <label>聯絡電話</label>
    <div class="ui left large icon input">
        <i class="phone large icon"></i>
        <input placeholder="{{ form.phone_num.field.help_text }}" type="{{ form.phone_num.field.widget.input_type  }}"
            name="{{ form.phone_num.name }}">
    </div>
</div>
{% endblock %}