{% extends "base.html" %}
{% block content %}
<style>
  @import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

  body {
    background-color: whiteSmoke;
  }

  h1, h2 {
    color: #f19835;
    font-family: 'cwTeXYen', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    margin: 4rem;
    text-align: center;
  }

  img {
    background-color: hsl(0, 0%, 90%);
    cursor: zoom-out;
    display: block;
    margin: 2rem auto;
  }
</style>
<h1>感謝您使用 LaLa LEND 平台！</h1>
<h2>可以返回您的 Line 囉！</h2>
<img src="https://scontent.xx.fbcdn.net/v/t1.6435-9/193195029_1761560557362971_848656929629401901_n.jpg?_nc_cat=108&amp;ccb=1-3&amp;_nc_sid=730e14&amp;_nc_ohc=aguzTg8t6GMAX8dKIlE&amp;_nc_ht=scontent.frmq2-1.fna&amp;oh=b4015495859dd19afca643733dddb6f2&amp;oe=60E63F07&amp;_nc_fr=frmq2c01" width="500" height="500">
{% endblock %}